<!-- app/views/customers/alphabetized.html.erb -->

<h1>Customers (Alphabetized)</h1>

<div class="links">
  <%= link_to 'All Customers', root_path, class: 'button is-link' %>
  <%= link_to 'Missing Emails', missing_email_customers_path, class: 'button is-info' %>
</div>

<div class="customer-list">
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
</div>
