<!-- app/views/customers/index.html.erb -->

<h1>All Customers</h1>

<div class="links">
  <%= link_to 'Missing Emails', missing_email_customers_path, class: 'button is-link' %>
  <%= link_to 'Alphabetized', alphabetized_customers_path, class: 'button is-info' %>
</div>

<div class="customer-list">
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
</div>
